<nav class="nav-bar">
  <a href="#" class="nav-logo">
    <img class="nav-icon" alt="Logo de Palomitas"
          src="assets/images/popcorn-icon.png">
    <span>Palomitas</span>
  </a>
  <section class="nav-search">
    <input type="text" placeholder="¿Que quieres ver?"
           class="transparent"
           ng-model="vm.searchText" ng-model-options='{debounce: 300}'
           typeahead-no-results="'No results'"
           uib-typeahead="option as vm.parseSearch(option) for option in vm.search($viewValue)"
           typeahead-template-url="app/components/navbar/searchItem.html"
           typeahead-popup-template-url="app/components/navbar/searchPopup.html"> 
    <span class="glyphicon glyphicon-search inside-input"></span>
  </section>  
</nav>
