<nav class="nav-bar">
  <section class="nav-logo">
    <a href="#">
      <img class="nav-icon" alt="Logo de Palomitas"
          src="assets/images/popcorn-icon.png">
      <span class="nav-label">Palomitas</span>
    </a>
    <small class="nav-links">
      <a target="_blank" href="https://palomitas-dl.fuken.xyz">Descargador</a>
      <a target="_blank" href="videojs/">Reproductor</a>
    </small>
  </section>
  <section class="nav-search">
    <input type="text" placeholder="¿Que quieres ver?"
           class="transparent"
           ng-model="vm.searchText" ng-model-options='{debounce: 300}'
           typeahead-no-results="'No results'"
           uib-typeahead="option as vm.parseSearch(option) for option in vm.search($viewValue)"
           typeahead-template-url="app/components/navbar/searchItem.html"
           typeahead-popup-template-url="app/components/navbar/searchPopup.html">
    <span class="glyphicon glyphicon-search inside-input"></span>
  </section>
</nav>
