<div class="show-details">
  <div class="show-img">
    <img ng-src="{{vm.show.images.banner}}" alt="{{vm.show.title}}">
  </div>
  <div class="overlay">
    <img class="poster hidden-xs" ng-src="{{vm.show.images.poster}}" alt="{{vm.show.title}}">
    <header class="header">
      <h1>
        {{vm.show.title}}
        <span class="badge" >
          {{vm.show.rating.percentage / 10}} / 10
        </span>
      </h1>
      <h4>
        <p>
          {{vm.show.year}} - {{vm.show.status}}
        </p>
        <span ng-repeat="genre in vm.show.genres">
          {{genre}}
          <span ng-hide="$last">, </span>
        </span>
      </h4>
      <p style="font-weight: bolder" class="opensans">
        {{vm.show.synopsis}}
      </p>
    </header>
  </div>
</div>
<div class="opensans" style="margin-top: 1em; padding: 0 1em">
  <h1 style="margin-top: 0; margin-bottom: .5em">Episodios</h1>
  <div class="episodes">
    <div class="episode-selector">
      <div class="season-list btn-group-vertical">
        <button class="btn btn-primary"
                ng-repeat="season in vm.episodes"
                ng-click="vm.selectedSeason = season.episodes">
          Temporada {{season.number}}
        </button>
      </div>
      <ul class="episode-list list-group" style="margin-left: 1em">
        <li class="list-group-item" style="color: black" ng-repeat="ep in vm.selectedSeason">
          <a href ng-click="vm.setEpisode(ep)">
            {{ep.season}}x{{ep.episode}} - {{ep.title}}
          </a>
        </li>
      </ul>
    </div>
    <div class="episode">
      <button class="visible-xs btn btn-primary" style="margin-top: 1em"
              ng-click="vm.scrollBack()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Atrás
      </button>
      <h2 style="margin-top: 0.2em">{{vm.selectedEpisode.title}} </h2>
      <p style="color: grey">
        Season {{vm.selectedEpisode.season}}
        Episode {{vm.selectedEpisode.episode}}
      </p>
      <p>{{vm.selectedEpisode.overview}} </p>
      <br>
      <uib-tabset active="vm.selectedTorrentIndex">
        <uib-tab ng-repeat="(type, torrent) in vm.selectedEpisode.torrents"
                 index="$index" heading="{{type}}" ng-if="type != 0"
                 ng-click="vm.selectedTorrentIndex = type">
          <div class="tab-inner">
            <p>
              seeds: {{torrent.seeds}} | peers: {{torrent.peers}}
            </p>
            <div ng-show="vm.showMagnet">
              <p>Magnet link</p>
              <pre class="pre-wrap">{{torrent.url}}</pre>
            </div>
            <div ng-show="vm.videoUrl">
              <p>
                Video
              </p>
              <pre class="pre-wrap">{{vm.videoUrl}}</pre>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
      <p class="alert alert-warning" ng-hide="vm.videoUrl">
        Por culpa de CloudFlare, la conexion al WebSocket esta rota,
        asi que el boton de obtener enlace de video no funcionara de momento.
        Aun asi, siempre se puede usar el <a href="https://palomitas-player.fuken.xyz">Descargador</a>
      </p>
      <spinner ng-show="vm.loading"></spinner>
      <p>
        <h3>Instrucciones para el streaming</h3>
        <ol>
          <li>Obtener enlace de video desde esta pagina o desde el
            <a target="_blank" href="https://palomitas-player.fuken.xyz">descargador</a>
          </li>
          <li>Obtener subtitulos desde esta pagina.
              Copiar enlace de subtitulos en formato VTT</li>
          <li>Ir al <a target="_blank" href="videojs/">reproductor</a>
          <li>Pegar los enlaces de subtitulos y video cada uno en su lugar
              (solo marcar el checkbox si el video ha sido convertido al formato HLS)</li>
          <li>Pulsar el botón grande y verde y disfrutar del espect&aacute;lo.</li>
        </ol>
        <p><strong>Bonus: </strong>tambien puede usar el enlace de video
           para ver el video en un reproductor como <strong>VLC</strong>
           o <strong>MPV</strong> que soporte abrir enlaces de red</p>
      </p>
      <!--
      <button class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-play"></span> Reproducir
      </button>
      -->
      <!--
      <button class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-cog"></span> Convertir al formato HLS
      </button>
      -->
      <button class="btn btn-primary btn-block" ng-click="vm.loadSubtitles(vm.selectedEpisode)">
        <span class="glyphicon glyphicon-globe"></span> Buscar subtitulos
      </button>
      <button disabled class="btn btn-primary btn-block" ng-click="vm.getVideoLink()">
        <span class="glyphicon glyphicon-link"></span> Obtener enlace del video
      </button>
      <button class="btn btn-primary btn-block" ng-click="vm.showMagnet = true;">
        <span class="glyphicon glyphicon-magnet"></span> Obtener enlace magnet
      </button>
      <h3  ng-show="vm.subtitles">Subtitulos</h3>
      <div ng-show="vm.subtitles"
           style="margin: 1em 0; display: flex; align-items: center">
        <label for="langs" style="margin-right: 0.5em">Idioma</label>
        <select ng-model="vm.selectedLang" class="form-control" name="langs" id="langs">
          <option ng-value="lang.isoId" ng-repeat="lang in vm.langs">
            {{lang.name}}
          </option>
        </select>
      </div>
      <ul class="list-group subs-list" ng-show="vm.selectedLang">
        <li class="list-group-item" ng-repeat="sub in vm.subtitles[vm.selectedLang]"
            style="display: flex; align-items: center">
          <div style="flex: 0 1 65%">
            <p class="pre-wrap">{{sub.subFilename}}</p>
            Descargar en <a class="pre-wrap" ng-href="{{sub.links.srt}}">srt</a>
            o <a class="pre-wrap" ng-href="{{sub.links.vtt}}">vtt</a>
          </div>
          <div style="flex: 1 0 35%; margin-left: 1em">
            <p>
              <span title="Formato" class="glyphicon glyphicon-file"></span>
              {{sub.encoding}}
            </p>
            <p>
              <span title="Descargas" class="glyphicon glyphicon-download"></span>
              {{sub.downloads.toLocaleString()}}
            </p>
            <p>
              <span title="Fecha de subida" class="glyphicon glyphicon-calendar"></span>
              {{sub.date.toLocaleString()}}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
