<div class="show-details">
  <div class="show-img">
    <img ng-src="{{vm.show.images.banner}}" alt="{{vm.show.title}}">
  </div>
  <div class="overlay">
    <img class="poster hidden-xs" ng-src="{{vm.show.images.poster}}" alt="{{vm.show.title}}">
    <header class="header">
      <h1>
        {{vm.show.title}}
        <span class="badge" >
          {{vm.show.rating.percentage / 10}} / 10
        </span>
      </h1>
      <h4> 
        <p>
          {{vm.show.year}} - {{vm.show.status}}
        </p>
        <span ng-repeat="genre in vm.show.genres">
          {{genre}}
          <span ng-hide="$last">, </span>
        </span>
      </h4>
      <p style="font-weight: bolder" class="opensans">
        {{vm.show.synopsis}}
      </p>
    </header>
  </div>
</div>
<div class="opensans" style="margin-top: 1em; padding: 0 1em">
  <h1 style="margin-top: 0; margin-bottom: .5em">Episodios</h1>      
  <div class="episodes">
    <div class="episode-selector">
      <div class="season-list btn-group-vertical">
        <button class="btn btn-primary"
                ng-repeat="season in vm.episodes"
                ng-click="vm.selection = season.episodes">
          Temporada {{season.number}}
        </button>  
      </div>
      <ul class="episode-list list-group" style="margin-left: 1em">
        <li class="list-group-item" style="color: black" ng-repeat="ep in vm.selection">
          <a href ng-click="vm.setEpisode(ep)">
            {{ep.season}}x{{ep.episode}} - {{ep.title}}                    
          </a>
        </li>
      </ul>
    </div>
    <div class="episode">
      <button class="visible-xs btn btn-primary" style="margin-top: 1em"
              ng-click="vm.scrollBack()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Atrás
      </button>
      <h2 style="margin-top: 0.2em">{{vm.currentEpisode.title}} </h2>
      <p style="color: grey">
        Season {{vm.currentEpisode.season}} 
        Episode {{vm.currentEpisode.episode}}
      </p>
      <p>{{vm.currentEpisode.overview}} </p>
      <br>
      <uib-tabset>
        <uib-tab ng-repeat="(type, torrent) in vm.currentEpisode.torrents"
                 index="$index" heading="{{type}}" ng-if="type != 0">
          <div class="tab-inner">
            <p>
              seeds: {{torrent.seeds}} | peers: {{torrent.peers}}
            </p>
            <pre class="pre-wrap">{{torrent.url}}</pre>         
          </div>
        </uib-tab>  
      </uib-tabset>
      <p>
        <br>
        Puede usar este <em>magnet link</em> para ver el episodio
        usando <a href="https://palomitas-player.herokuapp.com">Palomitas Player</a>
        <br>
        Pegue alli el <em>magnet link</em> y podra ver el progreso del torrent
        <br>
        Pasados unos segundos podra ver el progreso de la descarga del torrent y
        una lista de enlaces a los archivos que contiene este torrent.
        <br>
        Podra usar el enlace del archivo de video para ver el episodio
        en un reproductor como <em>VLC</em> o <em>MPV</em> 
      </p>
    </div>
  </div>
</div>
