.show-details{  
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1em;
  .show-img{
    max-height: 100%;
    flex-grow: 1;
    img{
      overflow: hidden;
      width: 100%;
      max-width: 100%;
    }
  }
  
  .overlay{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    @media(min-width: 768px){
      height: 100%;
    }
    a, a:hover{
      color: white;
    }
    .header{
      padding: 0.5em;
      align-self: flex-end;
    }
    .poster{
      max-height: calc(100% + 2em);
      margin-top: -1em;
      margin-bottom: -1em;
      padding-left: 1em;
    }    
  }
}

