.show-details{  
  display: flex;
  flex-direction: column;
  position: relative;
  .show-img{
    max-height: 100%;
    flex-grow: 1;
    img{
      overflow: hidden;
      width: 100%;
      max-width: 100%;
    }
  }
  
  .overlay{
    @media(min-width: 768px){
      position: absolute;
      top: 0;
      left: 0;
    }
    
    display: flex;
    width: 100%;
    background-color: rgba(0,0,0, 0.65);
    height: 100%;
    a, a:hover{
      color: white;
    }
    .header{
      padding: 0.5em 1em;
      align-self: flex-end;
      overflow: auto;
      @media(max-width: 768px){
        max-height: 15em;                
      }
      h1{
        margin-top: 0 !important;
      }
    }
    .poster{
      max-height: calc(100% + 1em);
      margin-top: -0.5em;
      margin-bottom: -0.5em;
      padding-left: 1em;
      //max-height: 100%;
    }    
  }
}

