<div class="container-fluid no-pd">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="shows-container jumbotron text-center dark-bg">
    <!--
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <button class="btn btn-success" ng-click="vm.showlist()">
      Get shows
    </button>
    -->
    <h1 ng-hide="vm.showData">Loading...</h1>
    <div style="text-align: left" ng-show="vm.showData">
      <p>Shows: Page 1</p>
      <div class="shows" ng-show="vm.showData">
        <div class="show-card" ng-repeat="show in vm.showData" ng-cloak>
          <div class="show-img">
            <img ng-src="{{show.images.poster}}" alt="{{show.title}}">
          </div>
          <div class="show-info">
            <h5>{{show.title}} </h5>
          </div>  
        </div>
      </div>
    </div>
    <div style="text-align: left" ng-show="vm.error">
      <p>Error</p>
      <pre>
        {{vm.error | json}}
      </pre>
    </div>
    
  </div>

</div>
