.shows{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  
  .show-card{
    box-sizing: border-box;
    padding: 0.5%;
    flex-grow: 1;
    flex-basis: 20%;
    /* evitar que crezcan
     * los ultimos 4 elementos(ultima fila - 1)
     */
    &:last-child, 
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4),
    {
      flex-grow: 0;
    }
    
    display: flex;
    flex-direction: column;
    position: relative;
    
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.9);
      opacity: 0;
      &:hover{
        opacity: 0.7;
      }
      a, a:hover{
        color: white;
      }
      .ribbon{
        text-align: center;        
        font-size: 2em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @media (max-width: 920px){
    .show-card{
      flex: 1 25%;
    }
  }
  
  @media(max-width: 600px){
    .show-card{
      flex: 1 50%;
    }
  }

  .show-img{
    max-height: 100%;
    flex-grow: 1;
    img{
      overflow: hidden;
      max-width: 100%;
    }
  }

  .show-info{
    margin-top: auto;
  }
  
}

.header-icon{
  font-size: 2em;
  color: lightgray;
}

.shows-container a{
  color: #5AADBB;
  &:hover{
    text-decoration: none;
    color: #eee;
  }
}